
/* the styles for the html elements */

body {
    background-color: rgb(212, 32, 32);
}

.container {
    /* margin-top: 0; */
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(235, 146, 13);
    border: 3px solid rgb(200, 243, 9);
    padding: .5em 2em;
    box-shadow: 0px 0px 33px 12px rgba(20, 20, 2, 0.66);
-webkit-box-shadow: 0px 0px 33px 12px rgba(19, 18, 10, 0.66);
-moz-box-shadow: 0px 0px 33px 12px rgba(21, 22, 14, 0.66);
}

header {
    margin: 0;
    border-bottom: 2px solid rgb(234, 250, 8);
    border: 2px;
}
header h1 {
    margin: 0;
    padding: .5em 0;
    color: rgb(235, 252, 8);
}

aside {
    float: left;
    width: 150px;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
nav ul li {
    padding-bottom: 0.5em;
}
section {
    float: left;
    width: 800PX;
    padding-bottom: 1.5em;
}
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    color: yellow;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
    color: yellow;
}
h1, h2 {
    color: rgb(218, 11, 11);
}
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
table {
    border: 2px solid rgb(230, 226, 12);
    border-collapse: collapse;
}
td, th {
    border: 2px dashed rgb(231, 216, 12);
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}
form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
.margin_top_increase {
	margin-top: 1em;	
}

/********************************************************************
* Additional styles for the record Manager application
********************************************************************/
#add_record_form {
    margin: .5em 0 1em;
}
#add_record_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_record_form input {
    float: left;
}
#add_record_form input[text] {
    width: 15em;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }